In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [3]:
df = pd.read_csv('P:\ML_Projects\placement_data\Placement_Data.xlsx  Placement_Data.csv')
df

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\IZU\AppData\Local\Temp\ipykernel_48256\2418142347.py:1: SyntaxWarning: invalid escape sequence '\M'
  df = pd.read_csv('P:\ML_Projects\placement_data\Placement_Data.xlsx  Placement_Data.csv')

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [5]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [6]:
df['salary'].describe()

count       148.000000
mean     288655.405405
std       93457.452420
min      200000.000000
25%      240000.000000
50%      265000.000000
75%      300000.000000
max      940000.000000
Name: salary, dtype: float64

In [7]:
df['salary'] = df['salary'].fillna(df['salary'].mean())
df.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [8]:
for column in df.columns:
    print(df[column].value_counts())

sl_no
1      1
2      1
3      1
4      1
5      1
      ..
211    1
212    1
213    1
214    1
215    1
Name: count, Length: 215, dtype: int64
gender
M    139
F     76
Name: count, dtype: int64
ssc_p
62.00    11
63.00    10
67.00     9
73.00     9
52.00     9
         ..
55.68     1
41.00     1
83.33     1
43.00     1
80.60     1
Name: count, Length: 103, dtype: int64
ssc_b
Central    116
Others      99
Name: count, dtype: int64
hsc_p
63.00    14
62.00    12
60.00     9
67.00     9
64.00     8
         ..
77.60     1
70.20     1
61.40     1
61.33     1
42.00     1
Name: count, Length: 97, dtype: int64
hsc_b
Others     131
Central     84
Name: count, dtype: int64
hsc_s
Commerce    113
Science      91
Arts         11
Name: count, dtype: int64
degree_p
65.00    20
66.00    13
72.00    12
64.00    11
58.00     9
         ..
64.80     1
56.30     1
91.00     1
56.87     1
77.60     1
Name: count, Length: 89, dtype: int64
degree_t
Comm&Mgmt    145
Sci&Tech      59
Others        11
Name: count, dtype: int64
workex
No     141
Yes     74
Name: count, dtype: int64
etest_p
60.00    14
80.00     8
67.00     7
75.00     7
89.00     6
         ..
87.55     1
61.28     1
88.56     1
92.66     1
91.00     1
Name: count, Length: 100, dtype: int64
specialisation
Mkt&Fin    120
Mkt&HR      95
Name: count, dtype: int64
mba_p
56.70    3
62.48    2
64.15    2
64.08    2
61.29    2
        ..
74.49    1
53.62    1
69.72    1
60.23    1
60.22    1
Name: count, Length: 205, dtype: int64
status
Placed        148
Not Placed     67
Name: count, dtype: int64
salary
288655.405405    67
300000.000000    22
250000.000000    18
240000.000000    15
260000.000000     7
200000.000000     6
265000.000000     6
360000.000000     6
220000.000000     5
275000.000000     5
400000.000000     4
270000.000000     4
210000.000000     4
216000.000000     3
500000.000000     3
350000.000000     3
230000.000000     2
276000.000000     2
252000.000000     2
236000.000000     2
280000.000000     2
218000.000000     2
204000.000000     2
393000.000000     1
425000.000000     1
231000.000000     1
278000.000000     1
450000.000000     1
411000.000000     1
320000.000000     1
336000.000000     1
268000.000000     1
287000.000000     1
420000.000000     1
380000.000000     1
940000.000000     1
225000.000000     1
233000.000000     1
690000.000000     1
340000.000000     1
255000.000000     1
285000.000000     1
290000.000000     1
650000.000000     1
264000.000000     1
295000.000000     1
Name: count, dtype: int64

In [9]:
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df['gender'].value_counts()

gender
1    139
0     76
Name: count, dtype: int64

In [10]:
le1 = LabelEncoder()
df['ssc_b'] = le1.fit_transform(df['ssc_b'])
df['ssc_b'].value_counts()

ssc_b
0    116
1     99
Name: count, dtype: int64

In [11]:
le2 = LabelEncoder()
df['hsc_b'] = le2.fit_transform(df['hsc_b'])
df['hsc_b'].value_counts()

hsc_b
1    131
0     84
Name: count, dtype: int64

In [12]:
le3 = LabelEncoder()
df['workex'] = le3.fit_transform(df['workex'])
df['workex'].value_counts()

workex
0    141
1     74
Name: count, dtype: int64

In [13]:
le4 = LabelEncoder()
df['status'] = le4.fit_transform(df['status'])
df['status'].value_counts()

status
1    148
0     67
Name: count, dtype: int64

In [14]:
le3 = LabelEncoder()
df['specialisation'] = le3.fit_transform(df['specialisation'])
df['specialisation'].value_counts()

specialisation
0    120
1     95
Name: count, dtype: int64

In [15]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,1,67.00,1,91.00,1,Commerce,58.00,Sci&Tech,0,55.0,1,58.80,1,270000.000000
1,2,1,79.33,0,78.33,1,Science,77.48,Sci&Tech,1,86.5,0,66.28,1,200000.000000
2,3,1,65.00,0,68.00,0,Arts,64.00,Comm&Mgmt,0,75.0,0,57.80,1,250000.000000
3,4,1,56.00,0,52.00,0,Science,52.00,Sci&Tech,0,66.0,1,59.43,0,288655.405405
4,5,1,85.80,0,73.60,0,Commerce,73.30,Comm&Mgmt,0,96.8,0,55.50,1,425000.000000

In [16]:
encoder1 = OneHotEncoder()
encoded = encoder1.fit_transform(df[['hsc_s']]).toarray()
df_hsc_s = pd.DataFrame(data = encoded,columns=encoder1.get_feature_names_out())
df_hsc_s

     hsc_s_Arts  hsc_s_Commerce  hsc_s_Science
0           0.0             1.0            0.0
1           0.0             0.0            1.0
2           1.0             0.0            0.0
3           0.0             0.0            1.0
4           0.0             1.0            0.0
..          ...             ...            ...
210         0.0             1.0            0.0
211         0.0             0.0            1.0
212         0.0             1.0            0.0
213         0.0             1.0            0.0
214         0.0             0.0            1.0

[215 rows x 3 columns]

In [17]:
df = pd.concat([df,df_hsc_s],axis=1)
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science
0,1,1,67.00,1,91.00,1,Commerce,58.00,Sci&Tech,0,55.0,1,58.80,1,270000.000000,0.0,1.0,0.0
1,2,1,79.33,0,78.33,1,Science,77.48,Sci&Tech,1,86.5,0,66.28,1,200000.000000,0.0,0.0,1.0
2,3,1,65.00,0,68.00,0,Arts,64.00,Comm&Mgmt,0,75.0,0,57.80,1,250000.000000,1.0,0.0,0.0
3,4,1,56.00,0,52.00,0,Science,52.00,Sci&Tech,0,66.0,1,59.43,0,288655.405405,0.0,0.0,1.0
4,5,1,85.80,0,73.60,0,Commerce,73.30,Comm&Mgmt,0,96.8,0,55.50,1,425000.000000,0.0,1.0,0.0

In [18]:
df = df.drop('hsc_s',axis=1)
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status',
       'salary', 'hsc_s_Arts', 'hsc_s_Commerce', 'hsc_s_Science'],
      dtype='object')

In [19]:
encoder2 = OneHotEncoder()
encoded = encoder2.fit_transform(df[['degree_t']]).toarray()
df_hsc_s = pd.DataFrame(data = encoded,columns=encoder2.get_feature_names_out())
df = pd.concat([df,df_hsc_s],axis=1)
df = df.drop('degree_t',axis=1)
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'degree_p',
       'workex', 'etest_p', 'specialisation', 'mba_p', 'status', 'salary',
       'hsc_s_Arts', 'hsc_s_Commerce', 'hsc_s_Science', 'degree_t_Comm&Mgmt',
       'degree_t_Others', 'degree_t_Sci&Tech'],
      dtype='object')

In [20]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,degree_p,workex,etest_p,specialisation,mba_p,status,salary,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech
0,1,1,67.00,1,91.00,1,58.00,0,55.0,1,58.80,1,270000.000000,0.0,1.0,0.0,0.0,0.0,1.0
1,2,1,79.33,0,78.33,1,77.48,1,86.5,0,66.28,1,200000.000000,0.0,0.0,1.0,0.0,0.0,1.0
2,3,1,65.00,0,68.00,0,64.00,0,75.0,0,57.80,1,250000.000000,1.0,0.0,0.0,1.0,0.0,0.0
3,4,1,56.00,0,52.00,0,52.00,0,66.0,1,59.43,0,288655.405405,0.0,0.0,1.0,0.0,0.0,1.0
4,5,1,85.80,0,73.60,0,73.30,0,96.8,0,55.50,1,425000.000000,0.0,1.0,0.0,1.0,0.0,0.0

In [21]:
df.describe()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,degree_p,workex,etest_p,specialisation,mba_p,status,salary,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000
mean,108.000000,0.646512,67.303395,0.460465,66.333163,0.609302,66.370186,0.344186,72.100558,0.441860,62.278186,0.688372,288655.405405,0.051163,0.525581,0.423256,0.674419,0.051163,0.274419
std,62.209324,0.479168,10.827205,0.499598,10.897509,0.489045,7.358743,0.476211,13.275956,0.497767,5.833385,0.464240,77457.900102,0.220844,0.500510,0.495228,0.469685,0.220844,0.447262
min,1.000000,0.000000,40.890000,0.000000,37.000000,0.000000,50.000000,0.000000,50.000000,0.000000,51.210000,0.000000,200000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.500000,0.000000,60.600000,0.000000,60.900000,0.000000,61.000000,0.000000,60.000000,0.000000,57.945000,0.000000,250000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,108.000000,1.000000,67.000000,0.000000,65.000000,1.000000,66.000000,0.000000,71.000000,0.000000,62.000000,1.000000,288655.405405,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,161.500000,1.000000,75.700000,1.000000,73.000000,1.000000,72.000000,1.000000,83.500000,1.000000,66.255000,1.000000,288655.405405,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,215.000000,1.000000,89.400000,1.000000,97.700000,1.000000,91.000000,1.000000,98.000000,1.000000,77.890000,1.000000,940000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
df.isnull().sum()

sl_no                 0
gender                0
ssc_p                 0
ssc_b                 0
hsc_p                 0
hsc_b                 0
degree_p              0
workex                0
etest_p               0
specialisation        0
mba_p                 0
status                0
salary                0
hsc_s_Arts            0
hsc_s_Commerce        0
hsc_s_Science         0
degree_t_Comm&Mgmt    0
degree_t_Others       0
degree_t_Sci&Tech     0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sl_no               215 non-null    int64
 1   gender              215 non-null    int64
 2   ssc_p               215 non-null    float64
 3   ssc_b               215 non-null    int64
 4   hsc_p               215 non-null    float64
 5   hsc_b               215 non-null    int64
 6   degree_p            215 non-null    float64
 7   workex              215 non-null    int64
 8   etest_p             215 non-null    float64
 9   specialisation      215 non-null    int64
 10  mba_p               215 non-null    float64
 11  status              215 non-null    int64
 12  salary              215 non-null    float64
 13  hsc_s_Arts          215 non-null    float64
 14  hsc_s_Commerce      215 non-null    float64
 15  hsc_s_Science       215 non-null    float64
 16  degree_t_Comm&Mgmt  215 non-null    float64
 17  degree_t_Others     215 non-null    float64
 18  degree_t_Sci&Tech   215 non-null    float64
dtypes: float64(12), int64(7)
memory usage: 32.0 KB

In [24]:
from sklearn.svm import SVR

In [25]:
svr = SVR()
svr.get_params()

{'C': 1.0,
 'cache_size': 200,
 'coef0': 0.0,
 'degree': 3,
 'epsilon': 0.1,
 'gamma': 'scale',
 'kernel': 'rbf',
 'max_iter': -1,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [26]:
C = [0.001,0.01,0,1,1.0,10,100,1000]
#degree = [2,3,4,5]
kernel = ['linear','rbf','poly','sigmoid']
gamma = ['scale','auto',0.001,0.01,0.1,1.0,10.0]
#epsilon = [0.001,0.01,0,1,1.0,10,100,1000]

params = dict(C=C,kernel = kernel,gamma=gamma)

grid_svr = GridSearchCV(estimator=svr,param_grid=params,verbose=2,cv=5,scoring='neg_mean_squared_error')
grid_svr

GridSearchCV(cv=5, estimator=SVR(),
             param_grid={'C': [0.001, 0.01, 0, 1, 1.0, 10, 100, 1000],
                         'gamma': ['scale', 'auto', 0.001, 0.01, 0.1, 1.0,
                                   10.0],
                         'kernel': ['linear', 'rbf', 'poly', 'sigmoid']},
             scoring='neg_mean_squared_error', verbose=2)

In [27]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('salary',axis=1),df['salary'],test_size=0.3)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(150, 18) (65, 18) (150,) (65,)

In [28]:
grid_svr.fit(x_train,y_train)

Fitting 5 folds for each of 224 candidates, totalling 1120 fits
[CV] END ................C=0.001, gamma=scale, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=scale, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=scale, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=scale, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=scale, kernel=linear; total time=   0.0s
[CV] END ...................C=0.001, gamma=scale, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=scale, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=scale, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=scale, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=scale, kernel=rbf; total time=   0.0s
[CV] END ..................C=0.001, gamma=scale, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=scale, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=scale, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=scale, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=scale, kernel=poly; total time=   0.0s
[CV] END ...............C=0.001, gamma=scale, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=scale, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=scale, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=scale, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=scale, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=auto, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=auto, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=auto, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=auto, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=auto, kernel=linear; total time=   0.0s
[CV] END ....................C=0.001, gamma=auto, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=auto, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=auto, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=auto, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=auto, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=auto, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=auto, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=auto, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=auto, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=auto, kernel=poly; total time=   0.1s
[CV] END ................C=0.001, gamma=auto, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=auto, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=auto, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=auto, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=auto, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=0.001, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=0.001, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=0.001, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=0.001, kernel=linear; total time=   0.0s
[CV] END ................C=0.001, gamma=0.001, kernel=linear; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.001, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.001, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.001, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.001, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.001, kernel=rbf; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.001, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.001, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.001, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.001, kernel=poly; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.001, kernel=poly; total time=   0.0s
[CV] END ...............C=0.001, gamma=0.001, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=0.001, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=0.001, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=0.001, kernel=sigmoid; total time=   0.0s
[CV] END ...............C=0.001, gamma=0.001, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=0.01, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=0.01, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=0.01, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=0.01, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=0.01, kernel=linear; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.01, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.01, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.01, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.01, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.01, kernel=rbf; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.01, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.01, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.01, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.01, kernel=poly; total time=   0.0s
[CV] END ...................C=0.001, gamma=0.01, kernel=poly; total time=   0.0s
[CV] END ................C=0.001, gamma=0.01, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=0.01, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=0.01, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=0.01, kernel=sigmoid; total time=   0.0s
[CV] END ................C=0.001, gamma=0.01, kernel=sigmoid; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.1, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.1, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.1, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.1, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=0.1, kernel=linear; total time=   0.0s
[CV] END .....................C=0.001, gamma=0.1, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=0.1, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=0.1, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=0.1, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=0.1, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.1, kernel=poly; total time=   0.3s
[CV] END ....................C=0.001, gamma=0.1, kernel=poly; total time=   0.1s
[CV] END ....................C=0.001, gamma=0.1, kernel=poly; total time=   0.0s
[CV] END ....................C=0.001, gamma=0.1, kernel=poly; total time=   0.2s
[CV] END ....................C=0.001, gamma=0.1, kernel=poly; total time=   0.4s
[CV] END .................C=0.001, gamma=0.1, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=0.1, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=0.1, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=0.1, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=0.1, kernel=sigmoid; total time=   0.0s
[CV] END ..................C=0.001, gamma=1.0, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=1.0, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=1.0, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=1.0, kernel=linear; total time=   0.0s
[CV] END ..................C=0.001, gamma=1.0, kernel=linear; total time=   0.0s
[CV] END .....................C=0.001, gamma=1.0, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=1.0, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=1.0, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=1.0, kernel=rbf; total time=   0.0s
[CV] END .....................C=0.001, gamma=1.0, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=1.0, kernel=poly; total time= 8.5min
[CV] END ....................C=0.001, gamma=1.0, kernel=poly; total time= 6.7min
[CV] END ....................C=0.001, gamma=1.0, kernel=poly; total time= 5.5min
[CV] END ....................C=0.001, gamma=1.0, kernel=poly; total time= 5.5min
[CV] END ....................C=0.001, gamma=1.0, kernel=poly; total time= 4.1min
[CV] END .................C=0.001, gamma=1.0, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=1.0, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=1.0, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=1.0, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=1.0, kernel=sigmoid; total time=   0.0s
[CV] END .................C=0.001, gamma=10.0, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=10.0, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=10.0, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=10.0, kernel=linear; total time=   0.0s
[CV] END .................C=0.001, gamma=10.0, kernel=linear; total time=   0.0s
[CV] END ....................C=0.001, gamma=10.0, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=10.0, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=10.0, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=10.0, kernel=rbf; total time=   0.0s
[CV] END ....................C=0.001, gamma=10.0, kernel=rbf; total time=   0.0s